/*----------- HEADER
------------------------------*/

body {
  margin: 0;
  padding: 0;
}

/*----------- HEADER
------------------------------*/
#topnav-phantom {
  display: none;
}

header {
  overflow: hidden;
  /*border: 1px solid green;*/
}
h1 {
  font-family: 'Lateef', cursive;
  font-size: 50px;
  font-weight: 600;
  margin: inherit;
  padding: 5px;
  display: inline-block;
  margin-left: 15px;
  /*border: 1px solid green;*/
}
header h1 a {
  text-decoration: none;
  color: black;
}
nav {
  float: right;
  padding-top: 30px;
  /*border: 1px solid red;*/
}
nav a {
  padding: 0 10px;
  font-family: 'Slabo 36px', serif;
  font-size: 20px;
  text-decoration: none;
  color: black;
  margin: 7px;
  opacity: 0.7;
  /*border: 1px solid blue;*/
}
nav a:hover {
  opacity: 1;
}
.sticky {
  position: fixed;
  background-color: #F09AAE;
  top: 0;
  width: 100%;
}

/*-------TOP SECTION
---------------------------------*/

#top-section {
  /*border: 1px solid red;*/
  height: 700px;
}
.banner {
  text-align: center;
  height: inherit;
  background-image: url("../images/pinksky.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  /*background-attachment: fixed;*/
  background-position: bottom;
}
/*.banner p{
  padding-top: 100px;
  margin: 0;
  color: white;
  font-family: 'Belleza', sans-serif;
  font-size: 24px;
}
.banner p:last-of-type {
  padding-top: 20px;
}*/

.banner h2, .banner h3 {
  padding-top: 100px;
  margin: 0;
  color: white;
  font-family: 'Belleza', sans-serif;
}
.banner h2 {
  font-size: 100px
}
.banner h3 {
  padding-top: 20px;
  font-size: 30px;
}

/*----------- MID SECTION CONTAINERS
------------------------------*/

@media(max-width: 640px) {
  #container1 {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    grid-column-gap: 15px;
    grid-row-gap: 15px;
    padding: 10px 5px;
  }
}
@media(min-width: 641px){
  #container1{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    grid-column-gap: 15px;
    grid-row-gap: 15px;
    padding: 90px 30px;
    /*justify-content: space-between;*/
    /*flex-basis: 20%;*/
    /*width: 80%;*/
  }
}

#container1 div{
  height: 400px;
  /*padding: 10px;*/
}

.container5 div, .container4{
  height: 700px;
}
.box {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.one-1 {
  background-image: url("../images/winterboy.jpg");?
}
.one-2 {
  background-image: url("../images/icecream.jpg");
}
.two-1 {
  background-image: url("../images/mountain-sunset.jpg");
  background-position: bottom;
}
.two-2 {
  background-image: url("../images/raincoat.jpg");
}
.three-1 {
  background-image: url("../images/airplane.jpg");
}
.three-2 {
  background-image: url("../images/sittingboy.jpg");
}
.heart-box {
  border: 1px solid red;
}
.far {
  display: inline-block;
}
.heart-box span {
  display: none;
}
.container4 {
  border: 1px solid red;
}
.last {
  background-image: url("../images/blowflower.jpg");
  border: 1px solid blue;
}


/*----------- CONTACT
------------------------------*/

.five-1 {
  flex: 1;
  display: flex;
}
input, textarea {
  font-size: 16px;
}
#contact-form {
  align-self: flex-end;
  opacity: 0.7;
}
#contact {
  border-radius: 7px;
  padding: 7px;
}
